<div id='flexContainer'>

<div>
  <img src="https://s3.amazonaws.com/learn-verified/perfectDate.png">
  <form action="/flatstas/{{flatsta.comment}}?_method=put" method="post">
    <input class='inputField' type="text" name='Flatsta[comment]' placeholder="comment" value="{{flatsta.comment}}">
    <input class='submit' type="submit" value='Post'>
  </form> 
  <h4><a href="/flatstas">SEE LATEST COMMENTS</a></h4>
</div>

<div>
  <img src="https://s3.amazonaws.com/learn-verified/backVFront.jpg">
  <form action="/flatstas/{{flatsta.comment}}?_method=put" method="post">
    <input class='inputField' type="text" name='Flatsta[comment]' placeholder="comment" value="{{flatsta.comment}}">
    <input class='submit' type="submit" value='Post'>
  </form> 
  <h4><a href="/flatstas">See latest comments.</a></h4>
</div>

<div>
  <img src="https://s3.amazonaws.com/learn-verified/goodProgrammer.png">
  <form action="/flatstas/{{flatsta.comment}}?_method=put" method="post">
    <input class='inputField' type="text" name='Flatsta[comment]' placeholder="comment" value="{{flatsta.comment}}">
    <input class='submit' type="submit" value='Post'>
  </form> 
  <h4><a href="/flatstas">See latest comments.</a></h4>
</div>

<div>
  <img src="https://s3.amazonaws.com/learn-verified/needSnekToRun.jpeg">
  <form action="/flatstas/{{flatsta.comment}}?_method=put" method="post">
    <input class='inputField' type="text" name='Flatsta[comment]' placeholder="comment" value="{{flatsta.comment}}">
    <input class='submit' type="submit" value='Post'>
  </form> 
  <h4><a href="/flatstas">See latest comments.</a></h4>
</div>

<div>
  <img src="https://s3.amazonaws.com/learn-verified/hopeThisDoesntDoDmg.jpg">
  <form action="/flatstas/{{flatsta.comment}}?_method=put" method="post">
    <input class='inputField' type="text" name='Flatsta[comment]' placeholder="comment" value="{{flatsta.comment}}">
    <input class='submit' type="submit" value='Post'>
  </form> 
  <h4><a href="/flatstas">See latest comments.</a></h4>
</div>

<div>
  <img src="https://s3.amazonaws.com/learn-verified/syncingByAmazon.gif">
  <form action="/flatstas/{{flatsta.comment}}?_method=put" method="post">
    <input class='inputField' type="text" name='Flatsta[comment]' placeholder="comment" value="{{flatsta.comment}}">
    <input class='submit' type="submit" value='Post'>
  </form> 
  <h4><a href="/flatstas">See latest comments.</a></h4>
</div>

<div>
  <img src="https://s3.amazonaws.com/learn-verified/woopsNevermind.png">
  <form action="/flatstas/{{flatsta.comment}}?_method=put" method="post">
    <input class='inputField' type="text" name='Flatsta[comment]' placeholder="comment" value="{{flatsta.comment}}">
    <input class='submit' type="submit" value='Post'>
  </form> 
  <h4><a href="/flatstas">See latest comments.</a></h4>
</div>

<div>
  <img src="https://s3.amazonaws.com/learn-verified/divideBy10.png">
  <form action="/flatstas/{{flatsta.title}}?_method=put" method="post">
    <input class='inputField' type="text" name='Flatsta[comment]' placeholder="comment" value="{{flatsta.comment}}">
    <input class='submit' type="submit" value='Post'>
  </form> 
  <h4><a href="/flatstas">See latest comments.</a></h4>
</div>

<div>
  <img src="https://s3.amazonaws.com/learn-verified/waffleBoard.png">
  <form action="/flatstas/{{flatsta.title}}?_method=put" method="post">
    <input class='inputField' type="text" name='Flatsta[comment]' placeholder="comment" value="{{flatsta.comment}}">
    <input class='submit' type="submit" value='Post'>
  </form> 
  <h4><a href="/flatstas">See latest comments.</a></h4>
</div>

<div>
  <img src="https://s3.amazonaws.com/learn-verified/NaNx10Batman.png">
  <form action="/flatstas/{{flatsta.title}}?_method=put" method="post">
    <input class='inputField' type="text" name='Flatsta[comment]' placeholder="comment" value="{{flatsta.comment}}">
    <input class='submit' type="submit" value='Post'>
  </form> 
  <h4><a href="/flatstas">See latest comments.</a></h4>
</div>

 </div>
